/* Estilo del formulario */
.example-form {
  min-width: 300px;
  width: 100%;
}

/* Estilo para los elementos del formulario */
.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}  

/* Estilo para centrar el formulario */
.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70vh; 
}

/* Estilo para tablet */
@media (max-width: 768px) {
  .container {
    height: 90vh; 
  }
  
}

/* Estilo para laptop */
@media (min-width: 769px) and (max-width: 1440px) {
  .container {
    height: 80vh; 
  }
  .example-form {
    min-width: 600px;
    width: 100%;
  }
  
}
  