<!-- Título de la sección de la página -->
<h2>Perfil</h2>

<!-- Tarjeta de la información del usuario -->
@if (usuario) {
  <div class="container">
    <mat-card class="example-card">
      <mat-card-header>
          <mat-card-title>{{ usuario.nombre}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> {{ usuario.fecha_nacimiento}}</p>
          <p> {{ usuario.email}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" class="botones" (click)="dialogoActualiza(usuario.id)">Actualizar</button> <!--Botón para actualizar información -->
          <button mat-raised-button color="primary" class="botones" (click)="dialogoBorra(usuario)">Eliminar</button> <!--Botón para eliminar usuario -->
        </mat-card-actions>
      </mat-card>
    </div>
}

<!-- Sección para un usuario publicador -->
@if (rol == 'ROLE_publicador') {
  <h2>Mis reportes</h2>

  <!-- Buscador de reportes personales -->
  <div class="container">
    <form [formGroup]="buscadorReporte" (ngSubmit)="buscador(buscadorReporte.value)">
  
      <td><mat-form-field>
        <mat-label>Buscar por id</mat-label>
        <input matInput placeholder="Ex. 65cc47882b95345c3e267e2d" formControlName="id" required>
      </mat-form-field></td>
      
      <button mat-raised-button color="primary" type="submit" [disabled]="buscadorReporte.invalid">Buscar</button>
  
    </form>
  </div>

  <!-- Sección de resultados para encontrar los reportes creador por el usuario -->
  @if(resultadoBusqueda){
    <div class="container">  
        @for(item of resultadoBusqueda; track item){
            <mat-card class="example-card-search">
              <mat-card-header>
                <mat-card-title class="custom-content">{{ item.nombre}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                @for(p of item.preguntas; track p; let i = $index){
                  <p class="custom-content"><strong> {{ p }}</strong></p>
                  <p class="custom-content"> {{ item.respuestas[i] }}</p>
                }
                <p class="custom-content"> {{ item.fechaCreacion}}</p> 
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button class="botones" (click)="ActualizaReporte(item.id)">Actualizar</button>
              </mat-card-actions>
            </mat-card>
        }
    </div>
  }

  <!-- Tarjeta por defecto si no encuentra resultados -->
  @if(noHayResultados){
    <div class="container">  
      <mat-card class="example-card-search">
        <mat-card-header>
          <mat-card-title class="custom-content">No se encontraron resultados.</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  }

  <!-- Sección de todos los reportes creados por el usuario -->
  <div class="container-cards">
    @for(item of resultados; track item; let j = $index){
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ item.nombre}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @for(p of item.preguntas; track p; let i = $index){
            <p><strong>{{ p }}</strong> </p>
            <p> {{ item.respuestas[i] }}</p>
          }
          <p> {{ item.fechaCreacion}}</p> 
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" class="botones" (click)="ActualizaReporte(item.id)">Actualizar</button>
        </mat-card-actions>
      </mat-card>
    }  
  </div>
}
